<div class="cell">
  <div class="card shadow radius padding-1">
    <div class="stitched">
      <h1>About:</h1>
      <p>
        This page was made as a project at <a href="https://www.craftacademy.se">www.craftacademy.se</a> 12-week web developer boot camp in Stockholm, Sweden.
        Github repo for project: <a href="https://github.com/CraftAcademy/slow_food_sinatra_june2017/">slow_food_sinatra_june2017</a> <br>
      </p>
      <p>
        <h2>Participants in the project:</h2>
        <ul>
          <li><a href="https://github.com/caressahh">https://github.com/caressahh</a></li>
          <li><a href="https://github.com/j0sv">https://github.com/j0sv</a></li>
          <li><a href="https://github.com/faraznaeem">https://github.com/faraznaeem</a></li>
          <li><a href="https://github.com/satorinic">https://github.com/satorinic</a></li>
        </ul>
      </p>
      <p>
        Images on this page are from <a href="http://www.freepik.com/">www.freepik.com</a>.
      </p>
    </div>
  </div>
</div>
